.floating-whatsapp {
    position: fixed;
    right: 20px; /* ← aquí el cambio */
    bottom: 20px;
    z-index: 999;
    background-color: #25D366;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.floating-whatsapp:hover {
    transform: scale(1.1);
}

.floating-whatsapp img {
    width: 30px;
    height: 30px;
}
